html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}
body { margin: 0; }
article, aside, details,
footer, header,
main, menu, nav,
section, summary { display:block; }
a { background-color: transparent;}
a:active, a:hover { outline: 0; }
b, strong { font-weight: bold; }
h1 { font-size: 2em; margin: 0.67em 0; }
img { border: 0; }
hr { box-sizing: content-box; height: 0; }
/* ==========================================================================
   2. General - Setting up some base styles
   ========================================================================== */
html {
  height: 100%;
  max-height: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  height: 100%;
  max-height: 100%;
  font-size: 1.8rem;
  line-height: 1.75em;
  color: #4A4A4A;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  text-rendering: geometricPrecision;
}
::-moz-selection {
  background: #D6EDFF;
}
::selection {
  background: #D6EDFF;
}
h1, h2, h3,
h4, h5, h6 {
  -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  color: #2E2E2E;
  line-height: 1.15em;
  margin: 0 0 0.4em 0;
  font-family: "Open Sans", sans-serif;
  text-rendering: geometricPrecision;
}
h1 {
  font-size: 5rem;
  letter-spacing: -2px;
  text-indent: -3px;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3rem;
  letter-spacing: -0.6px;
}
h4 {
  font-size: 2.5rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 2rem;
}
a {
  color: #4A4A4A;
  transition: color 0.3s ease;
}
a:hover {
  color: #111;
}
p, ul {
  -webkit-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  -moz-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  -o-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  margin: 0 0 1.75em 0;
  text-rendering: geometricPrecision;
}
ul {
  padding-left: 3rem;
}
li {
  margin: 0.4em 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: #EFEFEF 1px solid;
  margin: 3.2em 0;
  padding: 0;
}
#content-home h1 {
  font-family: "Open Sans Condensed","Helvetic",sans-serif;
  font-size: 1.6em;
  letter-spacing: 5px;
  margin: 0;
  padding: 15px 0;
  text-transform: uppercase;
}
#content-home h2 {
  text-transform: none;
}
.subscribe-form {
  float: right;
  margin-top: 40px;
}
.subscription-title {
  font-family: "Open Sans Condensed",sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
}
.subscribe-form > h4 {
  font-family: "Open Sans Condensed",sans-serif;
  font-size: 0.95em;
}
.subscribe-form > img {
  margin-bottom: 20px;
  width: 100%;
}
.subscribe-form form input{
  border: 1px solid #ccc;
  border-radius: 0;
  font-family: "Open Sans Condensed",sans-serif;
  width: 100%;
}
.subscribe-form form button{
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 0;
  color: transparent;
  font-size: .8em;
  width: 100%;
}
.subscribe-form form button:after {
  content: "Inscrivez-vous";
  color: #4A4A4A;
  font-family: "Open Sans",sans-serif;
  margin-left: -63px;
  /* margin-left equals length of text we're replacing */
}
.subscription-ok {
  margin-left: -180px;
  margin-top: 80px;
}
.subscription-ok > div > div {
  margin: auto;
  width: 350px;
}
.post-content.subscription-ok > div img {
  width: 350px;
}
.post-content.subscription-ok {
  font-size: 1em;
}
article.post {
  margin-bottom: 0;
  width: 100%;
}
table {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.75em 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}
table th,
table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: #EFEFEF 1px solid;
}
table th { color: #000; }
table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}
table tbody + tbody { border-top: #EFEFEF 2px solid; }
table table table { background-color: #FFF; }
table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
  background-color: #F6F6F6;
}
table.plain tbody > tr:nth-child(odd) > td,
table.plain tbody > tr:nth-child(odd) > th {
   background: transparent;
}
textarea {
  width: 260px;
  padding: 6px 9px;
  margin: 0 0 5px 0;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 1.4em;
  background: #fff;
  border: #e7eef2 1px solid;
  border-radius: 4px;
  box-shadow: none;
  -webkit-appearance: none;
}
textarea {
  width: 100%;
  max-width: 340px;
  min-width: 250px;
  height: auto;
  min-height: 80px;
}
textarea:focus {
  border: #bbc7cc 1px solid;
  background: #fff;
  outline: none;
  outline-width: 0;
}
#share-gif {
  position: absolute;
  right: -20px;
  top: -10px;
  width: 120px;
}
#share-tooltip > p:first-child {
  padding-right: 60px;
}
#share-tooltip > p {
  margin-bottom: 10px;
}
#share-tooltip {
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0,0,0,.4);
  bottom: 10px;
  right: 10px;
  padding: 20px;
  position: fixed;
  height: 135px;
  width: 270px;
  font-family: "Open Sans",sans-serif;
  font-size: 0.73em;
  font-style: normal;
  line-height: 1.7em;
  z-index: 10000;
}
.share-buttons {
  margin-left: -33px;
}
.share-title {
  border-top: 1px solid #CCC;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 0.8em;
  padding-top: 20px;
  text-transform: uppercase;
}
.share-text {
  font-family: "Open Sans",sans-serif;
  font-size: 0.73em;
  font-style: normal;
  line-height: 1.7em;
  margin-bottom: 0;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
button {
  min-height: 35px;
  width: auto;
  display: inline-block;
  padding: 0.1rem 1.5rem;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px; // Hack because Firefox sucks ass.
  line-height: 13px; // Hack because Firefox sucks ass.
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: none;
  border-radius: 0.3rem;
  border: rgba(0,0,0,0.05) 0.1em solid;
  background: #5ba4e5;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
/* Hides shit */
.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}
.inner {
  position: relative;
  width: 80%;
  max-width: 710px;
  margin: 0 auto;
}
/* Centres vertically yo. (IE8+) */
.vertical {
  vertical-align: middle;
}
/* Wraps the main content & footer */
.site-wrapper {
  position: relative;
  z-index: 10;
  min-height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease;
      transition: transform 0.5s ease;
}
body.nav-opened .site-wrapper {
  overflow-x: hidden;
  -webkit-transform: translate3D(-240px, 0, 0);
    -ms-transform: translate3D(-240px, 0, 0);
      transform: translate3D(-240px, 0, 0);
  -webkit-transition: -webkit-transform 0.3s ease;
      transition: transform 0.3s ease;
}
.header-hr {
  border-width: 2px 0 0;
  margin: 0;
}
.main-header {
  position: relative;
  display: table;
  width: 100%;
  height: 100vh;
  margin-bottom: 5rem;
  margin-top: 5px;
  text-align: center;
  background: #fff no-repeat center center;
  background-size: cover;
}

.main-header .inner {
  width: 80%;
}

.main-nav {
  position: relative;
  padding: 14px 130px;
  margin: 0 0 30px 0;
}

.main-nav a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

/* Navigation */
nav.nav-menu {
  z-index:0;
}
.nav {
  font-family: "Open Sans Condensed","Helvetic",sans-serif;
  text-transform: uppercase;
}
.nav ul{
  list-style-type: none;
}
.nav > li > a {
    padding: 0 15px;
}
#contact-div {
  text-align: center;
}
#contact-arrow {
  margin-bottom: 17px;
  margin-left: 7px;
}
.contact-img {
  border-radius: 250px;
  height: 276px;
  width: 100%;
}
ul.social {
  position: fixed;
  bottom: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 10px;
  margin-left: 10px;
}
ul.social li {
  display: inline-block;
  list-style-type: none;
  margin-left: 5px;
}
ul.social img {
  height:23px;
  width:23px;
}
.sub-title {
  border-bottom: 1px solid #CCC;
  font-family: "Open Sans Condensed",sans-serif;
  font-size: 2em;
  margin-bottom: 1.20em;
  width: 100%;
}
a.sub-title {
  margin-bottom: 0;
  text-transform: none;
}
.nav-tabs {
  margin-bottom: 3.4em;
}
.current {
  background-color: #eee;
}
input#submit-search {
  background: none;
  border: none;
  left: 20px;
  position: absolute;
  top: 11px;
  width: 30px;
}
input#search {
  color: #AAA;
  display: inline-block;
  font-style: italic;
  margin-left: 15px;
  margin-top: 10px;
  padding-left: 35px;
  width: 50%;
}
.post-excerpt {
  margin-left: -15px;
  padding: 30px 0;
}

.post-excerpt h2 {
  font-family: "Open Sans Condensed",sans-serif;
}

.post-excerpt a {
  text-decoration: none;
}

.post-excerpt p {
  color: #4A4A4A;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 0.73em;
  font-style: normal;
  line-height: 1.5em;
  margin: 15px 0 0 0;
  min-height: 60px;
  text-align: justify;
  width: 95%;
}
.post-excerpt p.read-more:hover {
  color: #889093;
}
.post-excerpt p.read-more {
  color: black;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  text-decoration: none;
}
.overlay-voyage {
  position: relative;
  width: 92%;
}
.overlay-voyage > div.overlay {
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  color: white;
  font-family: "Open Sans Condensed",sans-serif;
  position: absolute;
  text-align: center;
  width: 100%;
}
.overlay-voyage > img {
  width: 100%;
}
.posts-loop {
  float: left;
}
body:not(.post-template) header a {
  text-decoration: none;
}

body:not(.post-template) header time {
  font-family: Quicksand,Arial,sans-serif;
  text-align: center;
  text-transform: uppercase;
  width: 95%;
}

body:not(.post-template) header h2.post-title {
  text-align: center;
}

header h1.post-title, header h2.post-title {
  font-family: "Open Sans Condensed",sans-serif;
  font-size: 1.42em;
  font-weight: 100;
  letter-spacing: -0.6px;
  line-height: 65px;
  padding-left: 90px;
  min-height: 75px;
  text-transform: uppercase;
  width: 95%;
}

.posts-loop .post-header img {
  width: 95%;
}

main#content {
  margin-left: 0;
  margin-right: 0;
}
main.content {
  margin-top: 80px;
  margin-left: 30px;
  margin-right: 30px;
}
#content-home {
  text-align: center;
  text-transform: uppercase;
}
#content-home h1 {
  font-family: "Open Sans Condensed",sans-serif;
  font-size: 1.6em;
  letter-spacing: 5px;
  margin: 0;
  padding: 15px 0;
}
/* Every post, on every page, gets this style on its <article> tag */
main {
  padding: 0 135px;
}
.post {
  position: relative;
  margin: 4rem auto;
  word-wrap: break-word;
}
.posts-loop .post {
  float: left;
  margin: 0;
}
body .post-title {
  font-size: 1.8rem;
}
.post-title a {
  text-decoration: none;
}
.post-date {
  font-family: "Helvetica","Arial",sans-serif;
  background-color: #ECEDED;
  border-radius: 50%;
  color: #636363;
  float: left;
  font-size: 0.6em;
  height: 70px;
  line-height: 1.3;
  margin: 0;
  padding-top: 13px;
  text-align: center;
  text-transform: uppercase;
  width: 70px;
}
/* Keep images centered, and allow images wider than the main
   text column to break out. */
.post-content a {
  color: #aaa;
}
.post-content {
  font-family: "Open Sans",sans-serif;
  font-size: 0.73em;
  font-style: normal;
  line-height: 1.7em;
  min-height: 75px;
  text-align: justify;
}
.post-content img {
  border-radius: 10px;
  height: auto;
  max-width: 126%;
  padding: 0.1em 0.1em;
}
.pagination .pagination-title {
  font-style: italic;
  text-transform: initial;
}
.center {
  text-align: center;
}
.pagination {
  border-top: 1px solid #CCC;
  color: #9EABB3;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6em;
  height: 60px;
  margin: 0;
  position: relative;
  text-align: center;
  width: 95%;
  z-index:1;
}
.post-loop-header {
  overflow: hidden;
  max-height: 190px;
}
.post-loop .pagination {
  margin: 5rem auto;
  height: 0;
}
.content .pagination {
  width: 100%;
}
.pagination a:hover {
  text-decoration: none;
}
.pagination a {
  color: #000000;
  transition: all 0.2s ease;
}
/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {
  display: inline-block;
  margin-top: 10px;
  padding: 9px 15px;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  transition: border 0.3s ease;
  height: 40px;
}
.in-post .older-posts,
.in-post .newer-posts{
  padding-top: 0;
  height: 48px;
}
.older-posts {
  background: url("../images/arrow.png") no-repeat right;
  float: right;
  text-align: right;
  padding-right: 120px;
  right: 0;
}
.newer-posts {
  background: url("../images/arrow-left.png") no-repeat left;
  float: left;
  text-align: left;
  padding-left: 120px;
  left: 0;
}

.older-posts:hover,
.newer-posts:hover {
  color: #889093;
  border-color: #98a0a4;
}
#menu-drop {
  display: none;
}
#logo {
  width: 130%;
}

/* ==========================================================================
   12. Media Queries - Smaller than 991px
   ========================================================================== */

@media only screen and (min-width: 991px) {
  #site-menu {
    display: block !important;
  }
}
@media only screen and (max-width: 991px) {
  ul.social{
    position: relative;
    margin-bottom: 0;
    margin-top: 10px;
  }
  .pagination > div {
    padding: 0;
  }
  .pagination > div > div{
    padding: 0;
  }
  main h4.comment{
    margin-left: 15px;
    padding-top: 20px;
    width: 100%;
  }
  .pagination {
    border-radius: 0;
    height: auto;
    margin-bottom: 0;
    margin-left: 15px;
  }
  .in-post .older-posts,
  .in-post .newer-posts,
  .older-posts,
  .newer-posts {
    height: auto;
    padding: 30px 0 10px 0;
  }
  .in-post .older-posts,
  .older-posts {
    background: url("../images/arrow.png") no-repeat top;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
  }
  .newer-posts {
    background: url("../images/arrow-left.png") no-repeat top;
    border-bottom: 1px #CCC solid;
    text-align: center;
  }
  a.newer-posts {
    padding-bottom: 20px;
  }
  main.content {
    margin-left: 0;
  }
  .post-content img {
    margin-bottom: 3px;
    width: 100% !important;
  }
  .posts-loop header img{
    width: 100% !important;
  }
  .posts-loop header{
    margin-left: -15px;
    padding: 0;
  }
  .posts-loop{
    margin-top: 35px;
  }
  .posts-loop .read-more{
    min-height: 0;
  }
  .posts-loop article.post{
    border-bottom: #EFEFEF 1px solid;
    margin-bottom: 15px;
    padding-bottom 15px;
    padding-left: 15px;
  }
  #logo {
    width: 100%;
  }
  #site-menu {
    padding: 0;
  }
  li {
    margin: 0;
  }
  #menu-drop {
    background-color: transparent;
    border-radius: 10px;
    display: block;
    right: 10px;
    top: 10px;
    position: absolute;
    z-index: 100;
  }
  .navbar-fixed-top {
    position: relative;
  }
  article.post {
    margin-top: 15px;
  }
  .collapse {
    display: none;
  }
  main.content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* ==========================================================================
   12. Media Queries - Smaller than 900px
   ========================================================================== */
@media only screen and (max-width: 900px) {
  .scroll-down { display: none; }
  .post {
    font-size: 0.95em
  }
  body .post-title {
    font-size: 3.2rem;
  }
  hr {
    margin: 2.4em 0;
  }
  ol, ul {
    padding-left: 2em;
  }
  h1 {
    font-size: 4.5rem;
    text-indent: -2px;
  }
  h2 {
    font-size: 3.6rem;
  }
  h3 {
    font-size: 3.1rem;
  }
  h4 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 2.2rem;
  }
  h6 {
    font-size: 1.8rem;
  }
}
/* ==========================================================================
   12. Media Queries - Smaller than 500px
   ========================================================================== */
@media only screen and (max-width: 500px) {
  .nav-close {
    position: absolute;
    top: 18px;
  }
  .nav ul {
    padding: 60px 9% 5%;
  }
  .inner,
  .pagination {
    width: auto;
  }
  .post {
    width: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 2rem;
    line-height: 1.65em;
  }
  hr {
    margin: 1.75em 0;
  }
  p, ul {
    font-size: 0.95em;
    margin: 0 0 2.5rem 0;
  }
  h1, h2, h3,
  h4, h5, h6 {
    margin: 0 0 0.3em 0;
  }
  h1 {
    font-size: 2.8rem;
    letter-spacing: -1px;
  }
  h2 {
    font-size: 2.4rem;
    letter-spacing: 0;
  }
  h3 {
    font-size: 2.1rem;
  }
  h4 {
    font-size: 1.9rem;
  }
  h5 {
    font-size: 1.8rem;
  }
  h6 {
    font-size: 1.8rem;
  }
  body .post-title {
    font-size: 2.5rem;
  }
  .post-content img {
    padding: 0;
    width: calc(100% + 32px); /* expand with to image + margins */
    min-width: 0;
    max-width: 112%; /* fallback when calc doesn't work */
  }
  .older-posts,
  .newer-posts {
    position: static;
    margin: 10px 0;
  }
  .page-number {
    display: block;
  }
}
/* Used to fade in title/desc on the home page */
@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/* Used to bounce .scroll-down on home page */
@-webkit-keyframes bounce {
  0%, 10%, 25%, 40%, 50% {
    -webkit-transform: translateY(0) rotate(-90deg);
        transform: translateY(0) rotate(-90deg);
  }
  20% {
    -webkit-transform: translateY(-10px) rotate(-90deg);
        transform: translateY(-10px) rotate(-90deg);
  }
  30% {
    -webkit-transform: translateY(-5px) rotate(-90deg);
        transform: translateY(-5px) rotate(-90deg);
  }
}
@keyframes bounce {
  0%, 10%, 25%, 40%, 50% {
    -webkit-transform: translateY(0) rotate(-90deg);
        transform: translateY(0) rotate(-90deg);
  }
  20% {
    -webkit-transform: translateY(-10px) rotate(-90deg);
        transform: translateY(-10px) rotate(-90deg);
  }
  30% {
    -webkit-transform: translateY(-5px) rotate(-90deg);
        transform: translateY(-5px) rotate(-90deg);
  }
}
/* ==========================================================================
   End of file. Animations should be the last thing here. Do not add stuff
   below this point, or it will probably fuck everything up.
   ========================================================================== */
